aiomysql==0.2.0
annotated-types==0.7.0
anyio==4.12.1
bcrypt==3.2.2
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fastapi==0.115.0
greenlet==3.3.1
h11==0.16.0
httptools==0.7.1
idna==3.11
packaging==24.1
pandas==2.2.3
pyarrow==17.0.0
passlib==1.7.4
pyasn1==0.6.2
pycparser==3.0
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
PyMySQL==1.1.1
python-dotenv==1.0.1
python-jose==3.3.0
minio==7.2.9
python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.3
rsa==4.9.1
setuptools==80.10.2
six==1.17.0
SQLAlchemy==2.0.35
starlette==0.38.6
typing_extensions==4.15.0
uvicorn==0.32.0
watchfiles==1.1.1
websockets==16.0
wheel==0.46.3
